/* Threads */
[d='M5.43309 21C5.35842 21 5.30189 20.9325 5.31494 20.859L5.99991 17H2.14274C2.06819 17 2.01168 16.9327 2.02453 16.8593L2.33253 15.0993C2.34258 15.0419 2.39244 15 2.45074 15H6.34991L7.40991 9H3.55274C3.47819 9 3.42168 8.93274 3.43453 8.85931L3.74253 7.09931C3.75258 7.04189 3.80244 7 3.86074 7H7.75991L8.45234 3.09903C8.46251 3.04174 8.51231 3 8.57049 3H10.3267C10.4014 3 10.4579 3.06746 10.4449 3.14097L9.75991 7H15.7599L16.4523 3.09903C16.4625 3.04174 16.5123 3 16.5705 3H18.3267C18.4014 3 18.4579 3.06746 18.4449 3.14097L17.7599 7H21.6171C21.6916 7 21.7481 7.06725 21.7353 7.14069L21.4273 8.90069C21.4172 8.95811 21.3674 9 21.3091 9H17.4099L17.0495 11.04H15.05L15.4104 9H9.41035L8.35035 15H10.5599V17H7.99991L7.30749 20.901C7.29732 20.9583 7.24752 21 7.18934 21H5.43309Z'], [d='M5.88657 21C5.57547 21 5.3399 20.7189 5.39427 20.4126L6.00001 17H2.59511C2.28449 17 2.04905 16.7198 2.10259 16.4138L2.27759 15.4138C2.31946 15.1746 2.52722 15 2.77011 15H6.35001L7.41001 9H4.00511C3.69449 9 3.45905 8.71977 3.51259 8.41381L3.68759 7.41381C3.72946 7.17456 3.93722 7 4.18011 7H7.76001L8.39677 3.41262C8.43914 3.17391 8.64664 3 8.88907 3H9.87344C10.1845 3 10.4201 3.28107 10.3657 3.58738L9.76001 7H15.76L16.3968 3.41262C16.4391 3.17391 16.6466 3 16.8891 3H17.8734C18.1845 3 18.4201 3.28107 18.3657 3.58738L17.76 7H21.1649C21.4755 7 21.711 7.28023 21.6574 7.58619L21.4824 8.58619C21.4406 8.82544 21.2328 9 20.9899 9H17.41L16.35 15H19.7549C20.0655 15 20.301 15.2802 20.2474 15.5862L20.0724 16.5862C20.0306 16.8254 19.8228 17 19.5799 17H16L15.3632 20.5874C15.3209 20.8261 15.1134 21 14.8709 21H13.8866C13.5755 21 13.3399 20.7189 13.3943 20.4126L14 17H8.00001L7.36325 20.5874C7.32088 20.8261 7.11337 21 6.87094 21H5.88657ZM9.41045 9L8.35045 15H14.3504L15.4104 9H9.41045Z'] {
	d: path('M20,10V8h-4V4h-2v4h-4V4H8v4H4v2h4v4H4v2h4v4h2v-4h4v4h2v-4h4v-2h-4v-4H20z M14,14h-4v-4h4V14z');
}
[d='M13.4399 12.96C12.9097 12.96 12.4799 13.3898 12.4799 13.92V20.2213C12.4799 20.7515 12.9097 21.1813 13.4399 21.1813H14.3999C14.5325 21.1813 14.6399 21.2887 14.6399 21.4213V23.4597C14.6399 23.6677 14.8865 23.7773 15.0408 23.6378L17.4858 21.4289C17.6622 21.2695 17.8916 21.1813 18.1294 21.1813H22.5599C23.0901 21.1813 23.5199 20.7515 23.5199 20.2213V13.92C23.5199 13.3898 23.0901 12.96 22.5599 12.96H13.4399Z'] {
	d: path('M13.4399 1.34399H2.68798c-0.7391945000000001 0.0-1.34399 0.6047955-1.34399 1.34399v12.09591l2.68798-2.68798h9.40793c0.7391945000000001 0.0 1.34399-0.6047955 1.34399-1.34399V2.68798c0.0-0.7391945000000001-0.6047955-1.34399-1.34399-1.34399z');
	transform: translate(50%, 50%) scale(75%);
}

/* Notification Settings */
[d='M21.178 1.70703L22.592 3.12103L4.12103 21.593L2.70703 20.178L21.178 1.70703Z'] {
	d: path('M20 18.69L7.84 6.14 5.27 3.49 4 4.76l2.8 2.8v.01c-.52.99-.8 2.16-.8 3.42v5l-2 2v1h13.73l2 2L21 19.72l-1-1.03zM12 22c1.11 0 2-.89 2-2h-4c0 1.11.89 2 2 2zm6-7.32V11c0-3.08-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68c-.15.03-.29.08-.42.12-.1.03-.2.07-.3.11h-.01c-.01 0-.01 0-.02.01-.23.09-.46.2-.68.31 0 0-.01 0-.01.01L18 14.68z');
}
[d='M18 10.5283L10.5287 18H21V17C19.344 17 18 15.657 18 14V10.5283Z'], [d='M8.957 19.5718L9.52877 19H15.4449C14.7519 20.19 13.4759 21 11.9999 21C10.7748 21 9.68752 20.442 8.957 19.5718Z'], [d='M12 3C13.417 3 14.71 3.5 15.734 4.321L5.99805 14.058C5.99805 14.0479 5.99856 14.038 5.99907 14.0283C5.99956 14.0188 6.00005 14.0094 6.00005 14V9C6.00005 5.686 8.68605 3 12 3Z'] {
	color: transparent;
}

/* Pinned Messages */
[d='M22 12L12.101 2.10101L10.686 3.51401L12.101 4.92901L7.15096 9.87801V9.88001L5.73596 8.46501L4.32196 9.88001L8.56496 14.122L2.90796 19.778L4.32196 21.192L9.97896 15.536L14.222 19.778L15.636 18.364L14.222 16.95L19.171 12H19.172L20.586 13.414L22 12Z'] {
	d: path('M16,9V4l1,0c0.55,0,1-0.45,1-1v0c0-0.55-0.45-1-1-1H7C6.45,2,6,2.45,6,3v0 c0,0.55,0.45,1,1,1l1,0v5c0,1.66-1.34,3-3,3h0v2h5.97v7l1,1l1-1v-7H19v-2h0C17.34,12,16,10.66,16,9z');
}

/* Inbox */
[d='M19 3H4.99C3.88 3 3.01 3.89 3.01 5L3 19C3 20.1 3.88 21 4.99 21H19C20.1 21 21 20.1 21 19V5C21 3.89 20.1 3 19 3ZM19 15H15C15 16.66 13.65 18 12 18C10.35 18 9 16.66 9 15H4.99V5H19V15Z'] {
	d: path('M19 3H4.99c-1.11 0-1.98.89-1.98 2L3 19c0 1.1.88 2 1.99 2H19c1.1 0 2-.9 2-2V5c0-1.11-.9-2-2-2zm0 12h-4c0 1.66-1.35 3-3 3s-3-1.34-3-3H4.99V5H19v10z');
}

/* Help */
[d='M12 2C6.486 2 2 6.487 2 12C2 17.515 6.486 22 12 22C17.514 22 22 17.515 22 12C22 6.487 17.514 2 12 2ZM12 18.25C11.31 18.25 10.75 17.691 10.75 17C10.75 16.31 11.31 15.75 12 15.75C12.69 15.75 13.25 16.31 13.25 17C13.25 17.691 12.69 18.25 12 18.25ZM13 13.875V15H11V12H12C13.104 12 14 11.103 14 10C14 8.896 13.104 8 12 8C10.896 8 10 8.896 10 10H8C8 7.795 9.795 6 12 6C14.205 6 16 7.795 16 10C16 11.861 14.723 13.429 13 13.875Z'] {
	d: path('M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z');
}

/* Search */
[d='M21.707 20.293L16.314 14.9C17.403 13.504 18 11.799 18 10C18 7.863 17.167 5.854 15.656 4.344C14.146 2.832 12.137 2 10 2C7.863 2 5.854 2.832 4.344 4.344C2.833 5.854 2 7.863 2 10C2 12.137 2.833 14.146 4.344 15.656C5.854 17.168 7.863 18 10 18C11.799 18 13.504 17.404 14.9 16.314L20.293 21.706L21.707 20.293ZM10 16C8.397 16 6.891 15.376 5.758 14.243C4.624 13.11 4 11.603 4 10C4 8.398 4.624 6.891 5.758 5.758C6.891 4.624 8.397 4 10 4C11.603 4 13.109 4.624 14.242 5.758C15.376 6.891 16 8.398 16 10C16 11.603 15.376 13.11 14.242 14.243C13.109 15.376 11.603 16 10 16Z'] {
	d: path('M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z')
}

/* Verified */
[d='m16 7.6c0 .79-1.28 1.38-1.52 2.09s.44 2 0 2.59-1.84.35-2.46.8-.79 1.84-1.54 2.09-1.67-.8-2.47-.8-1.75 1-2.47.8-.92-1.64-1.54-2.09-2-.18-2.46-.8.23-1.84 0-2.59-1.54-1.3-1.54-2.09 1.28-1.38 1.52-2.09-.44-2 0-2.59 1.85-.35 2.48-.8.78-1.84 1.53-2.12 1.67.83 2.47.83 1.75-1 2.47-.8.91 1.64 1.53 2.09 2 .18 2.46.8-.23 1.84 0 2.59 1.54 1.3 1.54 2.09z'] {
	d: path('M16.0 8.347826086956522l-1.697391304347826-1.9408695652173913l0.23652173913043478-2.5669565217391304l-2.5113043478260866-0.5704347826086956L10.71304347826087 1.0434782608695652L8.347826086956522 2.0591304347826087L5.982608695652173 1.0434782608695652L4.667826086956522 3.2626086956521743L2.1565217391304348 3.8260869565217392L2.3930434782608696 6.3999999999999995L0.6956521739130435 8.347826086956522l1.697391304347826 1.9408695652173913l-0.23652173913043478 2.573913043478261l2.5113043478260866 0.5704347826086956L5.982608695652173 15.652173913043478l2.3652173913043475 -1.0226086956521738l2.3652173913043475 1.0156521739130435l1.314782608695652 -2.2191304347826084l2.5113043478260866 -0.5704347826086956l-0.23652173913043478 -2.5669565217391304L16.0 8.347826086956522zM7.019130434782609 11.631304347826086l-2.643478260869565 -2.650434782608696l1.0295652173913044 -1.0295652173913044l1.6139130434782607 1.6208695652173912l4.069565217391304 -4.0834782608695654l1.0295652173913044 1.0295652173913044L7.019130434782609 11.631304347826086z');
}
[d='M7.4,11.17,4,8.62,5,7.26l2,1.53L10.64,4l1.36,1Z'] {
	d: path('M3.7 6.647666666666668L1.985666666666667 4.933333333333334l-0.5837777777777778 0.5796666666666667L3.7 7.811111111111112 8.633333333333335 2.877777777777778l-0.5796666666666667-0.5796666666666667z');
	transform: translate(22%, 22%);
}

/* Member List */
[d='M14 8.00598C14 10.211 12.206 12.006 10 12.006C7.795 12.006 6 10.211 6 8.00598C6 5.80098 7.794 4.00598 10 4.00598C12.206 4.00598 14 5.80098 14 8.00598ZM2 19.006C2 15.473 5.29 13.006 10 13.006C14.711 13.006 18 15.473 18 19.006V20.006H2V19.006Z'] {
	d: path('M9 13.75c-2.34 0-7 1.17-7 3.5V19h14v-1.75c0-2.33-4.66-3.5-7-3.5zM4.34 17c.84-.58 2.87-1.25 4.66-1.25s3.82.67 4.66 1.25H4.34zM9 12c1.93 0 3.5-1.57 3.5-3.5S10.93 5 9 5 5.5 6.57 5.5 8.5 7.07 12 9 12zm0-5c.83 0 1.5.67 1.5 1.5S9.83 10 9 10s-1.5-.67-1.5-1.5S8.17 7 9 7zm7.04 6.81c1.16.84 1.96 1.96 1.96 3.44V19h4v-1.75c0-2.02-3.5-3.17-5.96-3.44zM15 12c1.93 0 3.5-1.57 3.5-3.5S16.93 5 15 5c-.54 0-1.04.13-1.5.35.63.89 1 1.98 1 3.15s-.37 2.26-1 3.15c.46.22.96.35 1.5.35z');
}
[d='d="M20.0001 20.006H22.0001V19.006C22.0001 16.4433 20.2697 14.4415 17.5213 13.5352C19.0621 14.9127 20.0001 16.8059 20.0001 19.006V20.006Z"'], [d='M14.8834 11.9077C16.6657 11.5044 18.0001 9.9077 18.0001 8.00598C18.0001 5.96916 16.4693 4.28218 14.4971 4.0367C15.4322 5.09511 16.0001 6.48524 16.0001 8.00598C16.0001 9.44888 15.4889 10.7742 14.6378 11.8102C14.7203 11.8418 14.8022 11.8743 14.8834 11.9077Z'], [d='M20.0001 20.006H22.0001V19.006C22.0001 16.4433 20.2697 14.4415 17.5213 13.5352C19.0621 14.9127 20.0001 16.8059 20.0001 19.006V20.006Z'] {
	color: transparent;
}

/* Update */
[d='M16.293 9.293L17.707 10.707L12 16.414L6.29297 10.707L7.70697 9.293L11 12.586V2H13V12.586L16.293 9.293ZM18 20V18H20V20C20 21.102 19.104 22 18 22H6C4.896 22 4 21.102 4 20V18H6V20H18Z'] {
	d: path('M18,15v3H6v-3H4v3c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-3H18z M17,11l-1.41-1.41L13,12.17V4h-2v8.17L8.41,9.59L7,11l5,5 L17,11z');
}

/* Close */
[d='M18.4 4L12 10.4L5.6 4L4 5.6L10.4 12L4 18.4L5.6 20L12 13.6L18.4 20L20 18.4L13.6 12L20 5.6L18.4 4Z'] {
	d: path('M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z');
}

/* Expand More */
[d='M0 0h18v18H0'] {
	d: path('M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z');
}
#guild-header-popout-invite-people::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialiconsoutlined/group_add/v18/24px.svg") !important;
}
#guild-header-popout-settings::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialicons/settings/v19/24px.svg") !important;
}
#guild-header-popout-create-channel::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialiconsoutlined/add/v21/24px.svg") !important;
}
#guild-header-popout-create-category::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialicons/create_new_folder/v11/24px.svg") !important;
}
#guild-header-popout-notifications::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialicons/notifications_active/v13/24px.svg") !important;
}
#guild-header-popout-privacy::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialiconsoutlined/security/v12/24px.svg") !important;
}
#guild-header-popout-change-nickname::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialicons/edit/v12/24px.svg") !important;
}
#guild-header-popout-hide-muted-channels[aria-checked="false"]::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialicons/check_box_outline_blank/v16/24px.svg") !important;
}
#guild-header-popout-hide-muted-channels[aria-checked="true"]::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialicons/check_box/v16/24px.svg") !important;
}
#guild-header-popout-leave::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialiconsoutlined/logout/v12/24px.svg") !important;
}

/* Arrow */
[d='M16.59 8.59004L12 13.17L7.41 8.59004L6 10L12 16L18 10L16.59 8.59004Z'] {
	d: path('M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z');
}
#message-add-reaction::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialicons/add_reaction/v9/24px.svg") !important;
}
#message-edit::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialicons/edit/v12/24px.svg") !important;
}
#message-pin::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialicons/push_pin/v13/24px.svg") !important;
}
#message-reply::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialicons/reply/v20/24px.svg") !important;
}
#message-apps::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialicons/apps/v12/24px.svg") !important;
}
#message-mark-unread::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialiconsoutlined/mark_chat_unread/v8/24px.svg") !important;
}
#message-copy-link::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialicons/link/v21/24px.svg") !important;
}
#message-delete::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialicons/delete/v17/24px.svg") !important;
}

/* Reaction */
[d='M12.2512 2.00309C12.1677 2.00104 12.084 2 12 2C6.477 2 2 6.477 2 12C2 17.522 6.477 22 12 22C17.523 22 22 17.522 22 12C22 11.916 21.999 11.8323 21.9969 11.7488C21.3586 11.9128 20.6895 12 20 12C15.5817 12 12 8.41828 12 4C12 3.31052 12.0872 2.6414 12.2512 2.00309ZM10 8C10 6.896 9.104 6 8 6C6.896 6 6 6.896 6 8C6 9.105 6.896 10 8 10C9.104 10 10 9.105 10 8ZM12 19C15.14 19 18 16.617 18 14V13H6V14C6 16.617 8.86 19 12 19Z'] {
	d: path('M18,9V7h-2V2.84C14.77,2.3,13.42,2,11.99,2C6.47,2,2,6.48,2,12s4.47,10,9.99,10C17.52,22,22,17.52,22,12 c0-1.05-0.17-2.05-0.47-3H18z M15.5,8C16.33,8,17,8.67,17,9.5S16.33,11,15.5,11S14,10.33,14,9.5S14.67,8,15.5,8z M8.5,8 C9.33,8,10,8.67,10,9.5S9.33,11,8.5,11S7,10.33,7,9.5S7.67,8,8.5,8z M12,17.5c-2.33,0-4.31-1.46-5.11-3.5h10.22 C16.31,16.04,14.33,17.5,12,17.5z M22,3h2v2h-2v2h-2V5h-2V3h2V1h2V3z');
}
[d='M21 3V0H19V3H16V5H19V8H21V5H24V3H21Z'] {
	color: transparent;
}

/* Edit */
[d='M19.2929 9.8299L19.9409 9.18278C21.353 7.77064 21.353 5.47197 19.9409 4.05892C18.5287 2.64678 16.2292 2.64678 14.817 4.05892L14.1699 4.70694L19.2929 9.8299ZM12.8962 5.97688L5.18469 13.6906L10.3085 18.813L18.0201 11.0992L12.8962 5.97688ZM4.11851 20.9704L8.75906 19.8112L4.18692 15.239L3.02678 19.8796C2.95028 20.1856 3.04028 20.5105 3.26349 20.7337C3.48669 20.9569 3.8116 21.046 4.11851 20.9704Z'] {
	d: path('M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z');
}

/* More */
[d='M7 12.001C7 10.8964 6.10457 10.001 5 10.001C3.89543 10.001 3 10.8964 3 12.001C3 13.1055 3.89543 14.001 5 14.001C6.10457 14.001 7 13.1055 7 12.001ZM14 12.001C14 10.8964 13.1046 10.001 12 10.001C10.8954 10.001 10 10.8964 10 12.001C10 13.1055 10.8954 14.001 12 14.001C13.1046 14.001 14 13.1055 14 12.001ZM19 10.001C20.1046 10.001 21 10.8964 21 12.001C21 13.1055 20.1046 14.001 19 14.001C17.8954 14.001 17 13.1055 17 12.001C17 10.8964 17.8954 10.001 19 10.001Z'] {
	d: path('M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z');
}
#user-context-user-profile::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialiconsoutlined/person/v17/24px.svg") !important;
}
#user-context-mention::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialiconsoutlined/alternate_email/v13/24px.svg") !important;
}
#user-context-change-nickname::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialicons/edit/v12/24px.svg") !important;
}
#user-context-apps::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialicons/apps/v12/24px.svg") !important;
}

/* Moooore */
#guild-context-mark-guild-read::before, #channel-context-mark-channel-read::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialicons/check/v18/24px.svg") !important;
}
#guild-context-invite-people::before, #channel-context-invite-people::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialiconsoutlined/group_add/v18/24px.svg") !important;
}
#guild-context-mute-guild::before, #guild-context-hide-muted-channels[aria-checked="false"]::before, #channel-context-mute-channel::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialicons/check_box_outline_blank/v16/24px.svg") !important;
}
#guild-context-unmute-guild::before, #guild-context-hide-muted-channels[aria-checked="true"]::before, #channel-context-unmute-channel::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialicons/check_box/v16/24px.svg") !important;
}
#guild-context-guild-notifications::before, #channel-context-channel-notifications {
	--icon: url("https://fonts.gstatic.com/s/i/materialicons/notifications_active/v13/24px.svg") !important;
}
#guild-context-guild-settings::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialicons/settings/v19/24px.svg") !important;
}
#guild-context-privacy::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialicons/security/v12/24px.svg") !important;
}
#guild-context-change-nickname::before, #channel-context-edit-channel::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialicons/edit/v12/24px.svg") !important;
}
#guild-context-create-channel::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialiconsoutlined/add/v21/24px.svg") !important;
}
#guild-context-create-category::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialicons/create_new_folder/v11/24px.svg") !important;
}
#guild-context-leave-guild::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialiconsoutlined/logout/v12/24px.svg") !important;
}

/* Moo */
#channel-context-delete-channel::before {
	--icon: url("https://fonts.gstatic.com/s/i/materialicons/delete/v17/24px.svg") !important;
}